<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Whatsapp</title>
</head>

<body>
    <h3 class="heading">All Chats</h3>
    <hr>
    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>
    <hr>
    <div class="flex"></div>
    <% for(let chat of chats){ %>

        <div class="chats">
            <p>From:<%= chat.from %>
            </p>
            <p>
                <%= chat.msg %>
            </p>
            <form method="GET" action="/chats/<%= chat._id %>/edit">
                <button>Edit</button>
            </form>

            <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                <button>Delete</button>
            </form>
                
            </form>

            </form>
            <p>Received: <%= chat.to %>
            </p>
            <hr>
            <p>
                <%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
            
        </div>
        
        <hr>
        
    <% } %>
</body>
</html>